<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>緯線ボタンの例</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="button-container">
        <div class="button-basic">
            <%= button_to "ベーシック", cars_basic_path %>
        </div>
        <div class="button-basic">
            <%= button_to "ミドル", cars_middle_path %>
        </div>
        <div class="button-basic">
            <%= button_to "プレミアム", cars_premium_path %>
        </div>
        <%= link_to "新規投稿へ", new_car_path %>
        <%= link_to "一覧へ", cars_hajimari_path %>
        <%= link_to "診断を始める", new_carpick_path, class: "link" %>
    </div>

    <div>
      <div class="ryoukinn">
      
        <div class="ryoukinn-b">
        <p10>ベーシック<p10>
        </div>

        <div class="ryoukinn-m">
        <p10>ミドル<p10>
        </div>

        <div class="ryoukinn-p">
        <p10>プレミアム<p10>
        </div>

      </div>
    </div>
</body>




newのとこ
<div class="field">
<%= f.label :クラス  %>
<%= f.select :grade, 
[["basic", "basic"], 
["midle", "midle"], 
["premium", "premium"]], include_blank: "選択して下さい" %>
</div>

<div class="field">
<%= f.label :乗車人数  %>
<%= f.number_field :capacity, :size => 10 %>
</div>






<%= form_for @car do |f| %>

    <div class="field">
      <%= f.label :名前 %>
      <%= f.text_field :name, :size => 30 %>
    </div>
  
    <div class="field">
      <%= f.label :車種  %>
      <%= f.text_field :name, :size => 30 %>
    </div>
  
    <div class="field">
      <%= f.label :感想  %>
      <%= f.text_field :body, :size => 80%>
    </div>
  
    <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
    </div>
    <%= f.select :category, [["basic"], ["middle"], ["premium"]], include_blank: "どのクラス？" %>
    <%= f.submit "投稿する" %>
  <% end %>
  
  <%= link_to "一覧に戻る", cars_path %>