<h1>使ってみた感想！</h1>
<h3>新規投稿ページ</h3>
<%= form_for @car do |f| %>

  <div class="field">
    <%= f.label :名前 %>
    <%= f.text_field :name, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :車種  %>
    <%= f.text_field :name, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :感想  %>
    <%= f.text_field :body, :size => 80%>
  </div>

  <div class="field">
  <%= f.label :image %>
  <%= f.file_field :image %>
  </div>

  <h5>総合評価</h5>
     <div class="post_form">
        <%= f.radio_button :hoshihyouka, 5 ,id: 'star1'%>
        <label for="star1"><span class="text">最高</span>★</label>
    
        <%= f.radio_button :hoshihyouka, 4 ,id: 'star2'%>
        <label for="star2"><span class="text">良い</span>★</label>
    
        <%= f.radio_button :hoshihyouka, 3 ,id: 'star3'%>
        <label for="star3"><span class="text">普通</span>★</label>
    
        <%= f.radio_button :hoshihyouka, 2 ,id: 'star4'%>
        <label for="star4"><span class="text">悪い</span>★</label>
    
        <%= f.radio_button :hoshihyouka, 1 ,id: 'star5'%>
        <label for="star5"><span class="text">最悪</span>★</label>
     </div>

    <h5>快適さ、スピーカーの質とか！</h5>
     <div class="post_form">
        <%= f.radio_button :comfort,  5 ,id: 'star6'%>
        <label for="star6"><span class="text">めちゃくちゃいい</span>★</label>
    
        <%= f.radio_button :comfort,  4 ,id: 'star7'%>
        <label for="star7"><span class="text">良い</span>★</label>
    
        <%= f.radio_button :comfort, 3 ,id: 'star8'%>
        <label for="star8"><span class="text">普通</span>★</label>
    
        <%= f.radio_button :comfort , 2 ,id: 'star9'%>
        <label for="star9"><span class="text">ちょっと悪い</span>★</label>
    
        <%= f.radio_button :comfort , 1 ,id: 'star10'%>
        <label for="star10"><span class="text">悪い</span>★</label>
     </div>
  
    <h5>運転のしやすさ</h5>
     <div class="post_form">
        <%= f.radio_button :ease_of_driving,  5 ,id: 'star11'%>
        <label for="star11"><span class="text">難しい</span>★</label>
    
        <%= f.radio_button :ease_of_driving,  4 ,id: 'star12'%>
        <label for="star12"><span class="text">やや難しい</span>★</label>
    
        <%= f.radio_button :ease_of_driving, 3 ,id: 'star13'%>
        <label for="star13"><span class="text">普通</span>★</label>
    
        <%= f.radio_button :ease_of_driving , 2 ,id: 'star14'%>
        <label for="star14"><span class="text">やや簡単</span>★</label>
    
        <%= f.radio_button :ease_of_driving , 1 ,id: 'star15'%>
        <label for="star15"><span class="text">簡単</span>★</label>
     </div>

  <%= f.select :category, [["basic"], ["middle"], ["premium"]], include_blank: "どのクラス？" %>
  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", cars_path, class: 'back-link' %>