<h1>使ってみた感想！</h1>
<h3>新規投稿ページ</h3>
<%= form_for @car do |f| %>

  <div class="field">
    <%= f.label :名前 %>
    <%= f.text_field :name, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :車種  %>
    <%= f.text_field :name, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :感想  %>
    <%= f.text_field :body, :size => 80%>
  </div>

  <div class="field">
  <%= f.label :image %>
  <%= f.file_field :image %>
  </div>
  <%= f.select :category, [["basic"], ["middle"], ["premium"]], include_blank: "どのクラス？" %>
  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", cars_path, class: 'back-link' %>