<h1>CarShare</h1>
<h3>Car詳細</h3>
<div class="car">
  <p><%= @car.name %></p>
  感想:<p><%= @car.body%></p>
  <p><%= @car.image %></p>
  <p><%= @car.created_at %></p>
  <%= link_to "編集する", edit_car_path(@car.id) %>
  <%= button_to "削除する", car_path(@car.id), method: :delete %>  
  <%= @car.user.email %>

<div>
    <h2>総合評価：
    <span class="star-rating">
       <span class="star-rating-front" style="width: <%= getPercent(@car.hoshihyouka) %>%;">★★★★★</span>
       <span class="star-rating-back">★★★★★</span>
    </span> 
    </h2>
    </div>
    
    <!--- 総合評価の星の部分終わり------->
    
    
    <!--- 授業レベルの星の部分 ------------>
    <div>
    <h2>快適さ、スピーカーの質とか！：
    <span class="star-rating">
       <span class="star-rating-front" style="width: <%= getPercent(@car.comfort) %>%;">★★★★★</span>
       <span class="star-rating-back">★★★★★</span>
    </span>
    </h2>
    </div>
    <!--- 授業レベルの星の部分終わり-------->
    <div>
    <h2>運転のしやすさ：
    <span class="star-rating">
       <span class="star-rating-front" style="width: <%= getPercent(@car.ease_of_driving) %>%;">★★★★★</span>
       <span class="star-rating-back">★★★★★</span>
    </span>
    </h2>
    </div>


    </div>








  <p><%= @car.name %></p>
  <p><%= @car.created_at %></p>
    <% if user_signed_in? %>
      <% if current_user.already_liked?(@car) %>
        <%= link_to car_like_path(@car), method: :delete do %>
          <p>いいねを取り消す</p><%= @car.likes.count %>
        <% end %>
      <% else %>
        <%= link_to car_likes_path(@car), method: :post do %>
          <p>いいね</p><%= @car.likes.count %>
        <% end %>
      <% end %>
    <% else %>
      <p>いいねの数 = </p><%= @car.likes.count %>
    <% end %>
  <%= link_to "編集する", edit_car_path(@car.id) %>
</div>

<h2>いいねしたユーザー</h2>
<% @car.liked_users.each do |user| %>
  <li><%= user.email %></li>
<% end %>

<%= link_to "Car一覧に戻る", cars_path %>